<div class="countdown">
  <img src="assets/images/mordisquitos.jpg" alt="mordisquitos" />

  <div class="countdown__content">
    <h4>Nuestros mordisquitos están de oferta... Llévate uno a casa!</h4>
    <p>La oferta terminará en...</p>
    <span class="countdown__timer">
      <span class="countdown__time-left"> {{ daysToDday }} </span>Día(s)
      <span class="countdown__time-left"> {{ hoursToDday }} </span>Horas
      <span class="countdown__time-left"> {{ minutesToDday }} </span>Min
      <span class="countdown__time-left"> {{ secondsToDday }} </span>Seg
    </span>
  </div>
</div>
