<div class="newsletter">
  <div class="newsletter__form" *ngIf="!submitted" [formGroup]="signupForm">
    <h2>¡Suscríbete a la newsletter de Planet Express!</h2>
    <label>Email</label>
    <div class="newsletter__email">
      <input type="email" formControlName="email" />
      <span
        class="text-danger"
        *ngIf="signupForm.controls['email'].hasError('required') && wrong"
        >El campo es obligatorio</span
      >
      <span
        class="text-danger"
        *ngIf="signupForm.controls['email'].hasError('email') && wrong"
        >El formato de email es erróneo</span
      >
    </div>
    <button (click)="onSubmit()">Suscribirse</button>
  </div>
  <h2 *ngIf="submitted">
    ¡Te has suscrito con éxito al correo {{ signupForm.value.email }}!
  </h2>
</div>
