@import "../../../styles.scss";

.white-title {
  color: white;
  padding: $s 0;
  text-align: center;
}

.newsletter {
  background-color: $blue;
  > h2 {
    @extend .white-title;
  }

  &__form {
    align-items: center;
    display: flex;
    flex-direction: column;

    > h2 {
      @extend .white-title;
    }

    > label {
      color: white;
    }
  }

  &__email {
    margin: 10px 0;
    max-width: 200px;

    > input {
      width: 100%;
    }
  }
}
